@charset "utf-8";
:root {
  --bg-gray1: #444444;
  --bg-gray2: #555555;
  --bg-gray3: #666666;
  --bg-orange: #ffaa00;
  --text: #ffffff;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text);
}
body {
  height: 100%;
  display: flex;
}
button {
  border: none;
  color: var(--text);
  padding: 20px 0;
  border: solid 1px var(--bg-gray1);
}
.grid_wrap {
  flex: 1;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

p {
  font-size: 60px;
}

.grid_item {
  background-color: var(--bg-gray3);
}
.grid_item:nth-child(1) {
  background-color: var(--bg-gray1);
  grid-column: 1 / span 4;
  text-align: right;
  line-height: 2;
}

.bg-orange {
  background-color: var(--bg-orange) !important;
}

.grid_item:nth-child(2),
.grid_item:nth-child(3),
.grid_item:nth-child(4) {
  background-color: var(--bg-gray2);
}

.grid_item:nth-child(18) {
  grid-column: 1 / span 2;
}
